#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

img { 
  width: 200px;
  height: 200px;
}

li {
  display: block;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.top-right-image {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
  z-index: -1;     
  pointer-events: none; 
}

.xxx {
  font-family: Titlefont;
  font-size: 45px;
}

@font-face {
  font-family: Titlefont;
  src: url('./assets/riesling.ttf');
}
